extends layout

block content
  main.pagina-jogos
    section.cabecalho-jogos
      span.etiqueta-jogos Universo gamer
      h1= title
      p.subtitulo
        Jogos de videogame unem desafio, historia e criatividade em experiencias
        que variam entre aventura, estrategia e acao. Cada jogo traz seu proprio
        estilo e formas diferentes de explorar o mundo.
      a.botao-jogos(href='/jogos/isaac') Ver destaque: The Binding of Isaac

    figure.visual-jogos
      img(src='/images/jogos-banner.svg', alt='Arte ilustrativa relacionada a videogames')
      figcaption Painel visual inspirado em controles, telas e mundos digitais.

  footer.rodape
    p Guilherme Scandolara Selau | guilhermesjs9@gmail.com
